---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

interface Props extends HTMLAttributes<"div"> {
	variant?: "default" | "luxury" | "luxury-featured";
}

const cardContent = tv({
	base: "pt-0",
	variants: {
		variant: {
			default: "p-8",
			luxury: "px-6 pb-6 lg:px-8 lg:pb-8",
			"luxury-featured": "px-6 pb-6 lg:px-8 lg:pb-8",
		},
	},
	defaultVariants: {
		variant: "default",
	},
});

const { variant, class: className, ...rest } = Astro.props;
---

<div class={cardContent({ variant, class: className })} {...rest}>
	<slot />
</div>
